[submodule "rtl/core"]
    path = rtl/core
    url = https://github.com/chipsalliance/Cores-VeeR-EL2.git

[submodule "rtl/dma"]
    path = rtl/dma
    url = https://github.com/aignacio/axi_dma.git

[submodule "rtl/gpio"]
    path = rtl/gpio
    url = https://github.com/pulp-platform/gpio.git

[submodule "rtl/timer"]
    path = rtl/timer
    url = https://github.com/anhducdinh/IP_timer.git
